body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    /* For the general site structure */
}

.header {
    /* For the header information */
    font-size: x-large;
}

.construction-container {
    text-align: center;
}

h1 {
    font-size: 36px;
    /* Increase the font size for the text */
}

#construction-image {
    max-width: 100%;
    max-height: 300px;
    /* Increase the maximum height for the image */
}

.footer {
    font-size: x-small;
}