body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    margin: 0;
    /* This percentage means that 1em = 10px and allows for good looking text on different devices. */
    font-size: 62.5%;
}

#container {
    /* For the general site structure */
    flex-basis: 50%;
}

#navigation {
    font-size: large;
}

#header {
    /* For the header information */
    font-size: 10em;
}

#content {
    flex-direction: row;
}

.info-block h1 {
    font-size: 5em;
}

.info-block p {
    font-size: 2em;
}

#footer {
    font-size: x-small;
}